@charset 'utf-8';

@import './bulma.overrides.scss';

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';

@import '~bulma/sass/elements/button.sass';

@import '~bulma/sass/components/card.sass';
@import '~bulma/sass/components/modal.sass';

.delete {
    @extend %delete
}