#navBox {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 6px solid black;
    border-radius: 30px;
}
#playerBallsContainer {
    grid-column: 1;
}
#playerCurrencyContainer {
    grid-column: 2;
}
