#navBox {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
    border: 6px solid black;
    border-radius: 30px;
}
@media only screen and (max-width:1000px) {
    #navBox {
        grid-column: 1;
    }
}
#playerCurrencyContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100%;
    min-width: 100%;
}
#playerCurrencySpan {
    grid-column: 1 / 4;
}
#playerPokeCoinsContainer, #playerCatchCoinsContainer, #playerBattleCoinsContainer {
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: 1px solid black;
    min-height: 100%;
    min-width: 100%;
}
.coinIcon {
    height: auto;
    width: 64px;
}