#partyBox {
    grid-row: 1 / 4;
    grid-column: 6;
    overflow: auto;
    float: left;
    text-align: center;
    border: 6px solid black;
    border-radius: 30px;

    li, p {
        display: inline-block;
    }
}
@media screen and (max-width:1000px) {
    #partyBox {
        grid-column: 1 / 3;
    }
}
