@media screen and (max-width:650px) {
    #playerBox {
        grid-column: 1 / 3;
    }
}
@media screen and (min-width:768px) {
    #playerBox {
        grid-column: 2 / 4;
    }
}
#playerBox {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    border: 6px solid black;
    border-radius: 30px;
}
#playerActivePokemon {
    min-height: 100%;
    display: grid;
    grid-template-rows: 10% 40% 25% 25%;
    border-radius: 30px;
}
.pokeBox {
    position: relative;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    float: center;
}
.pokeBox .img.attacked-right{
    margin-left: 30px;
}
.pokeBox .img.attacked-left{
    margin-right: 30px;
}
.pokeBox .img {
    transition: margin 0.08s ease-out;
    margin-left: 0;
    margin-right: 0;
}
.pokeBox .name {
    font-size: 18px;
    font-weight: 500;
}
