@media screen and (max-width:650px) {
    #regionSelect {
        grid-column: 2;
    }
}
@media screen and (min-width:768px) {
    #regionSelect {
        grid-column: 3;
    }
}
#regionSelect {
    grid-row: 2;
    padding: 5px;
    font-size: medium;
    display: grid;
    grid-template-rows: 1fr 3fr;
    text-align: center;
    border: 6px solid black;
    border-radius: 30px;
}
#regionSelectorBottomButtons {
    overflow: auto;
    max-height: 100%;
}
