@import './variables.scss';

html, body {
    background-color: rgb(0, 0, 0);
  }

#gameContainer {
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 18% 30% 30% 22%;
    grid-template-rows: 45% 25% 30%;
}

#gameContainer div {
    border: 1px solid black;
}

#gameContainer > div > div {
    border: none !important;
}

ul {
    list-style: none;
    padding-left: 0;
}

#listBox {
    grid-column: 1;
    grid-row: 1 / 3;
    max-height: 600px;
    overflow: auto;
    float: left;
    text-align: left;
    background-color: rgb(112, 146, 190);
}

#partyBox {
    grid-column: 1 / 3;
    grid-row: 3;
    overflow: auto;
    float: left;
    text-align: left;
    background-color: rgb(112, 146, 190);

    li, p {
        display: inline-block;
    }
}

#pokeGear {
    grid-column: 3;
    grid-row: 2 / 4;
    margin-bottom: none;
    background-color: rgb(112, 146, 190);
    text-align: center;
}

#routesBox {
    grid-column: 4;
    grid-row: 1 / 3;
    max-height: 600px;
    overflow: auto;
    float: left;
    text-align: left;
    background-color: rgb(112, 146, 190);
}

#listBox ul {
    padding-left: 15px;
    font-size: larger;
}

#pokedexBox select {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 95%;
}

.listPoke p {
    margin: 0 0 0 10px;
    padding: 0;
}

.pokeUpButton,
.pokeDownButton,
.pokeFirstButton,
.toStorageButton,
.pokeEvolveButton,
.pokePrestigeButton {
    display: none;
}

#rosterBox ul li:first-child .pokeUpButton,
#rosterBox ul li:last-child .pokeDownButton,
#storageBox ul li:first-child .pokeUpButton,
#storageBox ul li:last-child .pokeDownButton {
    display: none;
}

.manageTeamEnabled .pokeUpButton,
.manageTeamEnabled .pokeDownButton,
.manageTeamEnabled .pokeFirstButton,
.manageTeamEnabled .toStorageButton,
.manageTeamEnabled .canEvolve ~ .pokeEvolveButton,
.manageTeamEnabled .canPrestige ~ .pokePrestigeButton {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

.activeNormal {
    color: black;
}
.inactiveNormal {
    color: black;
}
.dead {
    color: red;
}

.activeShiny, .inactiveShiny {
    font-weight: bold;
}
.activeShiny {
    color: $active-shiny;
}
.inactiveShiny {
    color: $inactive-shiny;
}


#viewSelectBox {
    grid-column: 2;
    grid-row: 2;
    width: 50%;
    text-align: center;
    background-color: rgb(112, 146, 190);
}

#viewSelectBox p {
    margin: 0;
}

#invBox {
    grid-column: 3;
    grid-row: 1;
    padding: 5px;
    font-size: medium;
    background-color: rgb(112, 146, 190);
}

#invBox p {
    margin: 5px;
}

#pokeCoinsPic {
    padding-left: 20px;
}

#enemyBox {
    grid-column: 2;
    width: 50%;
    margin-left: 50%;
    float: right;
    grid-row: 1;
    background-color: rgb(112, 146, 190);
}

#playerBox {
    grid-column: 2;
    grid-row: 1;
    width: 50%;
    background-color: rgb(112, 146, 190);
    align-content: center;
}

#console {
    grid-column: 2;
    grid-row: 2;
    height: 50%;
    margin-top: 30%;
    max-height: 100px;
    overflow-y: hidden;
    background-color: rgb(112, 146, 190);
}
#console-text {
    padding-left: 9px;
}
#townBox {
    text-align: center;
}
#regionBox {
    grid-column: 4;
    grid-row: 3;
    text-align: center;
    background-color: rgb(112, 146, 190);
}
#navBox {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(112, 146, 190);
}
#navBox .button, #viewSelectBox .button, #townBox button {
    margin-top: 7px;
    align-items: center;
    border-color: black;
    width: auto;
    height: auto;
    background-color: transparent;
    color: black;
}
#regionBox .partyButton {
    width: auto;
    height: fit-content;
    border-color: black;
    background-color: transparent;
    color: black;
}

#navBox p {
    margin: 0 0 5px 0;
}

.pokeBox {
    position: relative;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    width: 165px;
    float: center;
}
.pokeBox .img.attacked-right{
    margin-left: 15px;
}
.pokeBox .img.attacked-left{
    margin-right: 15px;
}
.pokeBox .img {
    transition: margin 0.08s ease-out;
    margin-left: 0;
    margin-right: 0;
}
.pokeBox .name {
    font-size: 18px;
    font-weight: 500;
}
/* progressbar reset*/
progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* gets rid of default border in Firefox and Opera. */
    border: none;
    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;
    /* Dimensions */
    width: 400px;
    height: 60px;

}
/* Polyfill */
progress[role]:after {
    background-image: none; /* removes default background from polyfill */
}
/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
    display: none;
}
/* progress bg */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
    background: rgb(6, 64, 65) !important; /* !important is needed by the polyfill */
}
/* Chrome */
progress::-webkit-progress-bar {
    background: rgb(6, 64, 65);
}
/* progress value */
/* IE10 */
progress {
    color: rgb(15, 238, 141);
}
/* Firefox */
progress::-moz-progress-bar {
    background: rgb(15, 238, 141);
}
/* Chrome */
progress::-webkit-progress-value {
    background: rgb(15, 238, 141);
    border-radius: 0 10px 0 0;
}
/* Polyfill */
progress[aria-valuenow]:before  {
    background: rgb(15, 238, 141);
}

progress {
    width: 70px;
    height: 5px;
    position: relative;
    top: -3px;
    box-shadow: 0 0 2px black;
}
progress.expBar {
    width: 120px;
}

#version {
    position: absolute;
}

#modalPopup {
    z-index: 2;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 50%;
    margin-left: -150px;
    padding: 15px;
    border: solid 1px rgb(0, 0, 0);
    background-color: #66c966;
    border-radius: 2px;
    overflow: auto;
    width: 300px;
    height: 50px;
}

#popupText {
    vertical-align: middle;
    margin: auto;
    font-weight: bold;
}

.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.modalDialog {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    padding: 15px;
    border: solid 1px rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px;
    overflow: auto;
}

.modalTitle {
    flex: 0 0 auto;
    margin: 0;
    padding: 0 0 10px;
}

.modalDialog h4 {
    flex: 0 0 auto;
    margin: 0;
}

#settingsDialog > div > p {
    padding:0;
    margin:5px 10px;
}

#inventoryDialog {
  .vitaminItem > img {
    height: auto;
    width: 16px;
    margin-right: 5px;
  }
  .vitaminItem > .itemName {
    margin-right: 5px;
  }
  .vitaminItem > .inventoryVitaminAlignmentHelper {
    height: 100%;
  }
  #inventoryList > li {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    * {
      vertical-align: middle;
    }
  }
}

#vitaminDialog {
  .vitaminModalPokemon {
    * {
      vertical-align: bottom;
    }
  }
}

#forceSave {
    color:red;
    display:none;
}

#copySaveText {
    float: right;
    margin-top: 2px;
}

#saveText {
    flex: 1 1 auto;
}

#saveLoadButtons {
    margin-bottom: 7px;
}

#statisticsList li, #achievementsList li {
    padding: 2px 15px;
}
#statisticsList li:nth-child(even) {background: #CCC}
#statisticsList li:nth-child(odd) {background: #FFF}
#achievementsList li:nth-child(even) {background: #CCC}
#achievementsList li:nth-child(odd) {background: #FFF}
#achievementsList li.complete {
    text-decoration: line-through;
    font-style: italic;
}

.townBuilding {
    width: 90%;
    float: left;
    margin-left: 20px;
    background-color: rgb(240,240,240);
}
.townBuilding h4 { margin-left: 10px; }
.townBuilding ul {
    border-top: 1px solid rgb(217, 217, 217);
    padding: 5px 20px;
}
ul#shopItems li {
    margin-top: 2px;
}

.ballIcon {
    height: auto;
    width: 14px;
}

.coinIcon {
    height: auto;
    width: 16px;
}
