@import './variables.scss';

html, body {
    background-color: rgb(0, 0, 0);
  }

#gameContainer {
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: minmax(210px, 18%) 30% 30% 22%;
    grid-template-rows: 45% 25% 30%;
    background-color: rgb(58, 58, 58);
}

.subtitle {
    color: white;
}

#gameContainer > div {
    border: 1px solid black;
}

#gameContainer > div > div {
    border: none !important;
}
.button, button {
    background-color: transparent;
    border-color: white;
    color: white;
}
ul {
    list-style: none;
    padding-left: 0;
}

#listBox {
    grid-column: 1;
    grid-row: 1 / 3;
    max-height: 600px;
    overflow: auto;
    float: left;
    text-align: left;
}

#partyBox {
    grid-column: 1 / 3;
    grid-row: 3;
    overflow: auto;
    float: left;
    text-align: left;

    li, p {
        display: inline-block;
    }
}

#routesBox {
    grid-column: 4;
    grid-row: 1 / 4;
    max-height: 750px;
    overflow: auto;
    float: left;
    text-align: left;
}

.roamerIcon {
    margin-left: 3px;
    height: 16px;
    width: auto;
}

#listBox ul {
    padding-left: 15px;
    font-size: larger;
}

#pokedexBox select {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 95%;
}

.listPoke p {
    margin: 0 0 0 10px;
    padding: 0;
}

.pokeUpButton,
.pokeDownButton,
.pokeFirstButton,
.toStorageButton,
.pokeEvolveButton,
.pokePrestigeButton {
    display: none;
}

#rosterBox ul li:first-child .pokeUpButton,
#rosterBox ul li:last-child .pokeDownButton,
#storageBox ul li:first-child .pokeUpButton,
#storageBox ul li:last-child .pokeDownButton {
    display: none;
}

.manageTeamEnabled .pokeUpButton,
.manageTeamEnabled .pokeDownButton,
.manageTeamEnabled .pokeFirstButton,
.manageTeamEnabled .toStorageButton,
.manageTeamEnabled .canEvolve ~ .pokeEvolveButton,
.manageTeamEnabled .canPrestige ~ .pokePrestigeButton {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

.activeNormal {
    color: rgb(83, 255, 83);
}
.inactiveNormal {
    color: rgb(83, 255, 83);
}
.dead {
    color: red;
}

.activeShiny, .inactiveShiny {
    font-weight: bold;
}
.activeShiny {
    color: $active-shiny;
}
.inactiveShiny {
    color: $inactive-shiny;
}


#viewSelectBox {
    grid-column: 2;
    grid-row: 2;
    width: 50%;
    text-align: center;
}

#viewSelectBox p {
    margin: 0;
}

#invBox {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 5px;
    font-size: medium;
}

#invBox p {
    margin: 5px;
}

#pokeCoinsPic {
    padding-left: 20px;
}

#enemyBox {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 50%;
    margin-left: 50%;
    float: right;
    grid-row: 1;
}

#playerBox {
    grid-column: 2 / 4;
    grid-row: 1;
    width: 50%;
    align-content: center;
}
#townBox {
    text-align: center;
}
#navBox {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}
#prizeCorner {
    margin-left: 50%;
    margin-top: auto;
}
#viewSelectBox .button, #townBox button {
    margin-top: 7px;
    align-items: center;
    border-color: white;
    width: auto;
    height: auto;
    background-color: transparent;
    color: white;
}
#regionBox partyButton {
    width: auto;
    height: fit-content;
    border-color: black;
    background-color: transparent;
    color: black;
}

.pokeBox {
    position: relative;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    float: center;
}
.pokeBox .img.attacked-right{
    margin-left: 30px;
}
.pokeBox .img.attacked-left{
    margin-right: 30px;
}
.pokeBox .img {
    transition: margin 0.08s ease-out;
    margin-left: 0;
    margin-right: 0;
}
.pokeBox .name {
    font-size: 18px;
    font-weight: 500;
}
/* progressbar reset*/
progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    /* gets rid of default border in Firefox and Opera. */
    border: none;
    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;
    /* Dimensions */
    width: 400px;
    height: 60px;

}
/* Polyfill */
progress[role]:after {
    background-image: none; /* removes default background from polyfill */
}
/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
    display: none;
}
/* progress bg */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
    background: rgb(6, 64, 65) !important; /* !important is needed by the polyfill */
}
/* Chrome */
progress::-webkit-progress-bar {
    background: rgb(6, 64, 65);
}
/* progress value */
/* IE10 */
progress {
    color: rgb(15, 238, 141);
}
/* Firefox */
progress::-moz-progress-bar {
    background: rgb(15, 238, 141);
}
/* Chrome */
progress::-webkit-progress-value {
    background: rgb(15, 238, 141);
    border-radius: 0 10px 0 0;
}
/* Polyfill */
progress[aria-valuenow]:before  {
    background: rgb(15, 238, 141);
}

progress {
    width: 70px;
    height: 5px;
    position: relative;
    top: -3px;
    box-shadow: 0 0 2px black;
}
progress.expBar {
    width: 120px;
}

#version {
    position: absolute;
}

#modalPopup {
    z-index: 2;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 50%;
    margin-left: -150px;
    padding: 15px;
    border: solid 1px rgb(0, 0, 0);
    background-color: #66c966;
    border-radius: 2px;
    overflow: auto;
    width: 300px;
    height: 50px;
}

.modal-card-head {
    background-color: grey;
    color: white;
}
.modal-card-body {
    background-color: rgb(58, 58, 58);
    color: white;
}
.modal-card-foot {
    background-color: grey;
    color: white;
}

#popupText {
    vertical-align: middle;
    margin: auto;
    font-weight: bold;
}

.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.modalDialog {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    padding: 15px;
    border: solid 1px rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px;
    overflow: auto;
}

.modalTitle {
    flex: 0 0 auto;
    margin: 0;
    padding: 0 0 10px;
}

.modalDialog h4 {
    flex: 0 0 auto;
    margin: 0;
}

#settingsDialog > div > p {
    padding:0;
    margin:5px 10px;
}

#inventoryDialog {
  .vitaminItem > img {
    height: auto;
    width: 16px;
    margin-right: 5px;
  }
  .vitaminItem > .itemName {
    margin-right: 5px;
  }
  .vitaminItem > .inventoryVitaminAlignmentHelper {
    height: 100%;
  }
  #inventoryList > li {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    * {
      vertical-align: middle;
    }
  }
}

#vitaminDialog {
  .vitaminModalPokemon {
    * {
      vertical-align: bottom;
    }
  }
}

#forceSave {
    color:red;
    display:none;
}

#copySaveText {
    float: right;
    margin-top: 2px;
}

#saveText {
    flex: 1 1 auto;
}

#saveLoadButtons {
    margin-bottom: 7px;
}

#boulderBadge {
    background-image: url('../assets/images/badges/Boulder\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#brockImage {
    background-image: url('../assets/images/gymLeaders/Brock2.png');
    height: 370px;
    width: 150px;
}
#brockMon1 {
    background-image: url('../assets/sprites/normal/front/Geodude.png');
    height: 96px;
    width: 96px;
}
#brockMon2 {
    background-image: url('../assets/sprites/normal/front/Onix.png');
    height: 96px;
    width: 96px;
}
#cascadeBadge {
    background-image: url('../assets/images/badges/Cascade\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#thunderBadge {
    background-image: url('../assets/images/badges/Thunder\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#rainbowBadge {
    background-image: url('../assets/images/badges/Rainbow\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#soulBadge {
    background-image: url('../assets/images/badges/Soul\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#marshBadge {
    background-image: url('../assets/images/badges/Marsh\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#volcanoBadge {
    background-image: url('../assets/images/badges/Volcano\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#earthBadge {
    background-image: url('../assets/images/badges/Earth\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#zephyrBadge {
    background-image: url('../assets/images/badges/Zephyr\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#hiveBadge {
    background-image: url('../assets/images/badges/Hive\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#plainBadge {
    background-image: url('../assets/images/badges/Plain\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#fogBadge {
    background-image: url('../assets/images/badges/Fog\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#stormBadge {
    background-image: url('../assets/images/badges/Storm\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#mineralBadge {
    background-image: url('../assets/images/badges/Mineral\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#glacierBadge {
    background-image: url('../assets/images/badges/Glacier\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}
#risingBadge {
    background-image: url('../assets/images/badges/Rising\ Badge.png');
    margin-top: 7px;
    min-width: fit-content;
    min-height: fit-content;
}

#palletTownModalBox {
    background-image: url('../assets/backgrounds/kanto/palletTown/palletTown.png');
    background-size: cover;
    height: 320px;
    width: 384px;
}

#palletTownModalBox .button {
    background-color: rgb(58, 58, 58);
}

#redHouseModalBox {
    background-image: url('../assets/backgrounds/kanto/palletTown/redHouse.png');
    background-size: cover;
    width: 416px;
    height: 320px;
}

#redHouseModalBox .button {
    background-color: rgb(58, 58, 58);
}

#redRoomModalBox {
    background-image: url('../assets/backgrounds/kanto/palletTown/redRoom.png');
    background-size: contain;
    width: 208px;
    height: 160px;
}

#redRoomModalBox .button {
    background-color: rgb(58, 58, 58);
}

#blueHouseModalBox {
    background-image: url('../assets/backgrounds/kanto/palletTown/blueHouse.png');
    background-size: cover;
    height: 481px;
}

#blueHouseModalBox .button {
    background-color: rgb(58, 58, 58);
}

#oaklabModalBox {
    background-image: url('../assets/backgrounds/kanto/palletTown/oakLabKanto.png');
    background-size: contain;
    height: 481px;
    width: 460px;
}

#oaklabModalBox .button {
    background-color: rgb(58, 58, 58);
}

#viridianCityModalBox {
    background-image: url('../assets/backgrounds/kanto/viridianCity/viridianCity.png');
    background-size: cover;
    height: 460px;
}

#viridianCityModalBox .button {
    background-color: rgb(58, 58, 58);
}

#viridianPokeMartModalBox {
    background-image: url('../assets/backgrounds/kanto/viridianCity/viridianCityPokeMart.png');
    background-size: cover;
    height: 460px;
}

#viridianPokeMartModalBox .button {
    background-color: rgb(58, 58, 58);
}

#viridianPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/viridianCity/viridianCityPokemonCenter.png');
    background-size: cover;
    height: 360px;
}

#viridianPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#viridianGymModalBox {
    background-image: url('../assets/backgrounds/kanto/viridianCity/viridianCityGym.png');
    background-size: cover;
    height: 460px;
}

#viridianGymModalBox .button {
    background-color: rgb(58, 58, 58);
}

#pewterCityModalBox {
    background-image: url('../assets/backgrounds/kanto/pewterCity/pewterCity.png');
    background-size: cover;
    height: 481px;
}

#pewterCityModalBox .button {
    background-color: rgb(58, 58, 58);
}

#pewterMuseumModalBox {
    background-image: url('../assets/backgrounds/kanto/pewterCity/pewterMuseum.png');
    background-size: cover;
    height: 200px;
}

#pewterMuseumModalBox .button {
    background-color: rgb(58, 58, 58);
}

#pewterGymModalBox {
    background-image: url('../assets/backgrounds/kanto/pewterCity/pewterGym.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 512px;
    width: 400px;
}

#kantoMap {
    background-image: url('../assets/backgrounds/kanto/palletTown/palletTown.png');
    height: 320px;
    width: 384px;
}

#pewterGymModalBox .button {
    background-color: rgb(58, 58, 58);
}

#pewterPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/pewterCity/pewterPokeCenter.png');
    background-size: cover;
    height: 480px;
}

#pewterPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#pewterPokeMartModalBox {
    background-image: url('../assets/backgrounds/kanto/pewterCity/pewterPokeMart.png');
    background-size: cover;
    height: 480px;
}

#pewterPokeMartModalBox .button {
    background-color: rgb(58, 58, 58);
}

#ceruleanCityModalBox {
    background-image: url('../assets/backgrounds/kanto/ceruleanCity/ceruleanCity.png');
    background-size: cover;
    height: 481px;
}

#ceruleanCityModalBox .button {
    background-color: rgb(58, 58, 58);
}

#ceruleanPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/ceruleanCity/ceruleanPokeCenter.png');
    background-size: cover;
    height: 480px;
}

#ceruleanPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#ceruleanPokeMartModalBox {
    background-image: url('../assets/backgrounds/kanto/ceruleanCity/ceruleanPokeMart.png');
    background-size: cover;
    height: 480px;
}

#ceruleanPokeMartModalBox .button {
    background-color: rgb(58, 58, 58);
}

#seasideBillHouseBeforeConvertModalBox {
    background-image: url('../assets/backgrounds/kanto/ceruleanCity/seasideCottageBeforeConvert.png');
    background-size: cover;
    width: 480px;
    height: 352px;
}

#seasideBillHouseBeforeConvertModalBox .button {
    background-color: rgb(58, 58, 58);
}

#seasideBillHouseAfterConvertModalBox {
    background-image: url('../assets/backgrounds/kanto/ceruleanCity/seasideCottageAfterConvert.png');
    background-size: cover;
    width: 480px;
    height: 352px;
}

#seasideBillHouseAfterConvertModalBox .button {
    background-color: rgb(58, 58, 58);
}

#vermilionCityModalBox {
    background-image: url('../assets/backgrounds/kanto/vermilionCity/vermilionCity.png');
    background-size: cover;
    height: 481px;
}

#vermilionCityModalBox .button {
    background-color: rgb(58, 58, 58);
}

#vermilionPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/vermilionCity/vermilionPokeCenter.png');
    background-size: cover;
    height: 480px;
}

#vermilionPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#vermilionPokeMartModalBox {
    background-image: url('../assets/backgrounds/kanto/vermilionCity/vermilionPokeMart.png');
    background-size: cover;
    height: 480px;
}

#vermilionPokeMartModalBox .button {
    background-color: rgb(58, 58, 58);
}

#vermilionSSANNE1ModalBox {
    background-image: url('../assets/backgrounds/kanto/vermilionCity/kantoSSAnne.png');
    background-size: cover;
    height: 336px;
    width: 496px;
}

#vermilionSSANNE1ModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderTownModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/lavenderTown.png');
    background-size: cover;
    height: 481px;
}

#lavenderTownModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/lavenderPokeCenter.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeMartModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/lavenderPokeMart.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeMartModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeTower1ModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/kantoPokemonTower.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeTower1ModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeTower2ModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/kantoPokemonTowerF2.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeTower2ModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeTower3ModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/kantoPokemonTowerF3.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeTower3ModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeTower4ModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/kantoPokemonTowerF4.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeTower4ModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeTower5ModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/kantoPokemonTowerF5.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeTower5ModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeTower6ModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/kantoPokemonTowerF6.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeTower6ModalBox .button {
    background-color: rgb(58, 58, 58);
}

#lavenderPokeTower7ModalBox {
    background-image: url('../assets/backgrounds/kanto/lavenderTown/kantoPokemonTowerF7.png');
    background-size: cover;
    height: 480px;
}

#lavenderPokeTower7ModalBox .button {
    background-color: rgb(58, 58, 58);
}

#celadonCityModalBox {
    background-image: url('../assets/backgrounds/kanto/celadonCity/celadonCity.png');
    background-size: cover;
    height: 481px;
}

#celadonCityModalBox .button {
    background-color: rgb(58, 58, 58);
}

#gameCornerBuilding {
    background-image: url('../assets/backgrounds/kanto/celadonCity/celadonGameCorner.png');
    background-size: cover;
    height: 481px;
}

#gameCornerBuilding .button {
    background-color: rgb(58, 58, 58);
}

#gameCornerBuilding .span {
    color: black;
}

#celadonPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/celadonCity/celadonPokeCenter.png');
    background-size: cover;
    height: 480px;
}

#celadonPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#saffronCityModalBox {
    background-image: url('../assets/backgrounds/kanto/saffronCity/saffronCity.png');
    background-size: cover;
    height: 481px;
}

#saffronCityModalBox .button {
    background-color: rgb(58, 58, 58);
}

#saffronPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/saffronCity/saffronPokeCenter.png');
    background-size: cover;
    height: 480px;
}

#saffronPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#saffronPokeMartModalBox {
    background-image: url('../assets/backgrounds/kanto/saffronCity/saffronPokeMart.png');
    background-size: cover;
    height: 480px;
}

#saffronPokeMartModalBox .button {
    background-color: rgb(58, 58, 58);
}

#fuchsiaCityModalBox {
    background-image: url('../assets/backgrounds/kanto/fuchsiaCity/fuchsiaCity.png');
    background-size: cover;
    height: 481px;
}

#fuchsiaCityModalBox .button {
    background-color: rgb(58, 58, 58);
}

#fuchsiaPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/fuchsiaCity/fuchsiaPokeCenter.png');
    background-size: cover;
    height: 480px;
}

#fuchsiaPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#fuchsiaPokeMartModalBox {
    background-image: url('../assets/backgrounds/kanto/fuchsiaCity/fuchsiaPokeMart.png');
    background-size: cover;
    height: 480px;
}

#fuchsiaPokeMartModalBox .button {
    background-color: rgb(58, 58, 58);
}

#cinnabarIslandModalBox {
    background-image: url('../assets/backgrounds/kanto/cinnabarIsland/kantoCinnabarIsland.png');
    background-size: cover;
    height: 481px;
}

#cinnabarIslandModalBox .button {
    background-color: rgb(58, 58, 58);
}

#cinnabarLabModalBox {
    background-image: url('../assets/backgrounds/kanto/cinnabarIsland/cinnabarLab.png');
    background-size: cover;
    height: 481px;
}

#cinnabarLabModalBox .button {
    background-color: rgb(58, 58, 58);
}

#cinnabarPokeCenterModalBox {
    background-image: url('../assets/backgrounds/kanto/cinnabarIsland/cinnabarPokeCenter.png');
    background-size: cover;
    height: 480px;
}

#cinnabarPokeCenterModalBox .button {
    background-color: rgb(58, 58, 58);
}

#cinnabarPokeMartModalBox {
    background-image: url('../assets/backgrounds/kanto/cinnabarIsland/cinnabarPokeMart.png');
    background-size: cover;
    height: 480px;
}

#cinnabarPokeMartModalBox .button {
    background-color: rgb(58, 58, 58);
}

.townBuilding {
    width: 90%;
    float: left;
    margin-left: 20px;
    background-color: transparent;
}
.townBuilding h4 { margin-left: 10px; }
.townBuilding ul {
    border-top: 1px solid rgb(217, 217, 217);
    padding: 5px 20px;
}
ul#shopItems li {
    margin-top: 2px;
}

.ballIcon {
    height: auto;
    width: 14px;
}

.coinIcon {
    height: auto;
    width: 16px;
}
